
<footer>

	<%= link_to 'HOME', home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to 'ABOUT US', about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'CONTACT US', contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
	<%= link_to 'PRIVATE POLICY', privacy_path %>
	<br /><br />

	<div id="copy">
		Webmaster: <%= mail_to("sitingj@andrew.cmu.edu", "Siting Jin", encode: "javascript") %>
		&nbsp;&nbsp;&copy 2017
	</div>

</footer>
