<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <!-- <li><%= link_to image_tag('cylon_icon.png'), home_path %></li> -->
      <li><%= link_to "HOME", home_path %></li>
      <li>
        <%= link_to "ITEMS", items_path %>
        <ul class="menu vertical">
          <li><%= link_to "Item List", items_path %></li>
          <li><%= link_to "Reorder List", home_path %></li>
          <li><%= link_to "Add an Item", new_item_path %></li>
        </ul>
      </li>
      <li><%= link_to "PURCHASES", purchases_path %></li>
      <li><%= link_to "PRICES", item_prices_path %></li>
    </ul>
  </div>
  <div class="top-bar-right">
   <ul class="menu">
     <li><%= link_to 'SIGN IN',  %></li>&nbsp;&nbsp;::&nbsp;&nbsp;
     <li><%= link_to 'REGISTER',  %></li>
   </ul>
 </div>
</div>
