<%= simple_form_for @user, html: { class: 'form-horizontal', multipart: true }  do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<fieldset class="fieldset">
		<%= f.input :first_name %>
		<%= f.input :last_name %>
		<%= f.input :email, :input_html => { :placeholder => "info@gmail.com"} %>
		<%= f.input :phone, :input_html => { :placeholder => "412-123-4567"} %>
		<%= f.input :username %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<% if logged_in? && (current_user.role == "admin" || current_user.role == "manager") %>
			<%= f.input :active, :input_html => { :type => "radio"} %>
    	<%= f.input :role, :collection => User::ROLES, :prompt => "Select..." %>
		<% end %>
		<br></br>

		<div class="form-actions">
      <%= f.submit (@user.new_record? ? "Sign up" : "Update"), :class => "hollow button" %>
			<% if (not current_user.nil?) && ((current_user.role? :admin) || (current_user.role? :manager)) %>
				<%= link_to 'Cancel',users_path, :class => 'button alert radius' %>
			<% else %>
			  <%= link_to 'Cancel',home_path, :class => 'button alert radius' %>
			<% end %>
		</div>
  </fieldset>
<% end %>
