
<h3><%= @user.name %></h3>

<p>
  <b>Username</b>: <%= @user.username %>
</p>

<p>
  <b>Phone</b>:
  <% if @user.phone.nil? || @user.phone.blank? %>NA<% else %>
  <%= @user.phone %><% end %>
</p>

<p>
  <b>Email</b>: <%= @user.email %>
</p>

<p>
  <b>Role</b>: <%= @user.role %>
</p>


<p>
  <b>Active</b>: <%= @user.active ? 'Yes' : 'No' %>
</p>

<% if (not current_user.nil?) && ((current_user.role? :admin) || (current_user.role? :manager)) %>
  <%= render partial: "partials/object_options", locals: {model_name: "user", object: @user}  %>
<% end %>
