<%= simple_form_for @order, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <fieldset>
    <legend>Place The Order</legend>
    <%= f.input :school_id, collection: School.active.to_a, include_blank: true, input_html: {class: "avg"} %>
    <legend>Credit Card Information</legend>
    <%= f.input :credit_card_number, :input_html => { :type => "number" } %>

    <div class="row">
      <div class="medium-6 columns">
        <%= f.input :expiration_year, :input_html => { :type => "number" } %>

      </div>
      <div class="medium-6 columns">
        <%= f.input :expiration_month, :input_html => { :type => "number" } %>

      </div>
    </div>
    <br></br>

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', cart_items_path, :class => 'button' %>
    </div>
  </fieldset>
<% end %>
