</br>
<% if @order_items.nil? || @order_items.empty? %>
  <h5>YOU CURRENTLY HAVE NO ITEM IN YOUR CART</h5></br>
  <p><%= link_to 'Check Our Products', items_path, :class => "button" %></p>
<% else %>
  <div id="product">
    <% if (current_cart).size == 1 %>
      <h5>YOUR SHOPPING CART CONTAINS: <span><%= (current_cart).size.to_s %> PRODUCT</span></h5>
    <% else %>
      <h5>YOUR SHOPPING CART CONTAINS: <span><%= (current_cart).size.to_s %> PRODUCTS</span></h5>
    <% end %>
 </div>
  </br>
  <table class="cart-table" width="500" style="width:95%">
    <!-- <thead> -->
      <tr>
        <th width="100" align="center">Product</th>
        <th width="100">Product Name</th>
        <th width="50">Unit Price</th>
        <th width="100">Quality</th>
        <th width="50">Price</th>
        <th width="50">Remove</th>
      </tr>
    <!-- </thead> -->
    <!-- <tbody> -->
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= link_to item_path(order_item.item) do %>
          <img src="//placehold.it/100x100" class="thumbnail" alt=""><% end %></td>
          <td><%= link_to order_item.item.name, item_path(order_item.item) %></td>
          <td><%= number_to_currency(order_item.item.current_price) %></td>
          <td>
            <% if (order_item.quantity > 1) %>
            <%= link_to subtract_from_cart_path(order_item.item) do %>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span><% end %>
            <% else %>
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            <% end %>
            <div class="entry value">
              <span><%= order_item.quantity %></span>
            </div>
            <%= link_to update_add_to_cart_path(order_item.item) do %>
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span><% end %>
          </td>
          <td><%= number_to_currency(order_item.item.current_price * order_item.quantity) %></td>
          <td><%= link_to remove_from_cart_path(order_item.item) do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span><% end %></td>
        </tr>
      <% end %>
    <!-- </tbody> -->
  </table><br></br>
  <div class="checkout-right-basket">
		<%= link_to items_path, :class => "button" do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping<% end %>
	</div>
  <div class="checkout-button">
		<%= link_to new_order_path, :class => "button" do %>
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Check Out<% end %>
	</div>
<% end %>
