<!-- <% unless items.nil? || items.empty? %>
  <h5><%= item_type.capitalize %></h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
        <th width="100">Inventory</th>
      </tr>
    </thead>
    <tbody>
      <% items.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= number_to_currency item.current_price %></td>
          <td><%= item.inventory_level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> -->

<% unless items.nil? || items.empty? %>
  <h5><%= item_type.capitalize %></h5>
  <div class="row small-up-2 medium-up-3 large-up-4">
    <% items.each do |item| %>
      <div class="column column-block">
        <img src="//placehold.it/600x600" class="thumbnail" alt="">
        <p><%= link_to item.name, item_path(item) %></p>
        <p><%= number_to_currency item.current_price %></p>
        <!-- <li><%= item.inventory_level %></li> -->
        <p><%= link_to 'Add To Cart', add_to_cart_path(item.id), :class => "button" %></p>


      </div>
      <% end %>
  </div>
<% end %>
